{% extends 'base.html' %}
{% block content %}
    <h2>Register form</h2>
    <form action="" method="post" novalidate>
        <div>{{ form.csrf_token }}</div>
        <div class="form-content">
        {% for field in form if field.name != "csrf_token" %}
                {% if field.name != 'submit_btn' %}
                    <h4>{{ field.label() }}</h4>
                {% endif %}
                <div class="form-field">
                    {{ field }}
                </div>
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
        {% endfor %}
        </div>
    </form>
{% endblock %}